<!DOCTYPE html>
<html>

<head>
  <title>TP5 M2 3IR</title>
  <!-- libery -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <center>
      <h1>TP AW6: AngularJS+ Meteo WEATHER FORCASE</h1>
    </center>
    <hr>

    <form id="searchCity">
      <div class="input-group">
        <span class="input-group-btn">
        <button class="btn btn-success" ng-click="GPS()" type="button">GPS</button>
      </span>
        <input type="search" class="form-control" ng-model="city" required placeholder="Votre Ville, Paris, NY...">
        <span class="input-group-btn">
        <button class="btn btn-default" ng-click="recherche()" type="button">Recherche</button>
		</span>
      </div>
    </form>

    <div ​ ng-if="meteo" ​>
      <p>{{meteo.data}}</p>
      <center>
        <h1>{{meteo.name}}</h1>
        @{{meteo.date.getHours()}}:{{meteo.date.getMinutes()|number:-2}}
        <hr width="50%">
        <img src="http://openweathermap.org/img/w/{{meteo.weather[0].icon}}.png" /><br>
        <h3​>{{meteo.main.temp|number:0}}°</h3><br> ​{{meteo.weather[0].description}}
          <br>
          <hr width="50%">
      </center>
      <div class="row">
        <div class="col-xs-3 col-xs-offset-3">Humidity</div>
        <div class="col-xs-3">{{meteo.main.humidity|number:0}}%</div>
      </div>
      <hr width="50%">
      <div class="row">
        <div class="col-xs-3 col-xs-offset-3">Cloud</div>
        <div id="Cloud" class="col-xs-3">{{meteo.clouds.all|number:0}}%</div>
      </div>
      <hr width="50%">
      <div class="row">
        <div class="col-xs-3 col-xs-offset-3">Wind</div>
        <div id="Wind" class="col-xs-1">{{meteo.wind.speed|number:0}}/m/s</div>
        <div id="degwind" class="col-xs 1"></div>
      </div>
      <hr width="50%">
      <center>
        <image id="map" src="http://maps.googleapis.com/maps/api/staticmap?size=500x400&zoom=10&center={{meteo.name}}&markers={{meteo.name}}">
      </center>


    </div>
    <p ​ng-if="errorMsg ​"> ​{{errorMsg}} ​</p>
</body>

</html>